body{
font-family: 'Rye', cursive;
font-family: 'Open Sans', sans-serif;
}
html {
	font-size: 10px;
}
a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}
.wrapper{
	display:table-cell;
	vertical-align:middle;
}

.main {
	position: relative;
	display: table;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100vh;
	background: #000 url(../img/main-bg.jpg) center center no-repeat;
}
.main-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.35);
}
.main-heder{
	position: relative;
	z-index: 2;
}
.main h1{
	font-family:'Rye', cursive ;
	margin-bottom: 1.4rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 4.8rem;
	color: #e0c39b;
}
.main p{
	font-size: 3rem;
	font-weight: 300;
}
.main-line{
	width: 350px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
}
.main-down{
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	color: #fff;
	z-index: 4;
	bottom: 2rem;
	display: inline-block;
	font-size: 2.5rem;
	width: 50px;
	height: 50px;
	line-height: 25px;
	left: 48.5%;
	margin-left: -25px;
	transition: 0.2s;
}
.main-down:hover {
	color: #fff;
	border-color: #fff;
}
/*Секция Портфолио*/
.portfolio{
	padding: 10rem 0rem;
	text-align: center;
}
.section-heder{
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3.6rem;
	margin-bottom: 5rem;

}
.portfolio img {
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}
.portfolio a {
	display: block;
	margin: 2rem auto 5rem;
	color: #333;
	width: 13rem;
	border-bottom: 1px solid transparent;
}
.portfolio a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #333;
}
/*секция -подвал*/
.footer{
	background-color: #646464;
	color: #fff;
	text-align: center;
	padding: 2rem 0;
}
.footer strong {
	font-weight: 300;
	font-style: 3.4rem;
	font-size: 2rem;
}
.social-links{
	margin: 2rem auto;
}
.social-links a{
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	transition: 0.2s;
}
.social-links a:hover {
	background-color: #fff;
	color: #646464;
}
.ofer-btn{
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 2rem auto;
	border:1px solid #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	border-radius: 100px;
	transition: 0.2s;
}
.ofer-btn:hover {
	text-decoration: none;
	background-color: #fff;
	color: #646464;
}
.modal img{
	width: 100%;
}
.modal-title{
	font-weight: 800;
	font-size: 2rem;
}
.close{
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.modal-btn{
	display: inline-block;
	color: #333;
	border: 1px solid #333;
	padding: 10px 20px;
	border-radius: 6px;
}
.modal-btn:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
@media (min-width: 0px;) and(max-width: 767px;) {
	html{
		font-size: 7px;
	}
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
	.social-links a {
		font-size: 1.5rem;
	}
}
@media (min-width: 768px;) and(max-width: 991px;){
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
}